.grid-col {
    background-color: #e1e1e1;
    width: 60%;
    padding: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}


.grid-row {
    background-color: #e1e1e1;
    width: 60%;
    padding: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}

.grid-area {
    display: grid;
    background-color: #e1e1e1;
    width: 60%;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
    grid-template-areas:
    'col2 col3'
    'col1 col1'; 

}

.grid-item-1 {
    grid-area: col1;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.grid-item-2 {
    grid-area: col2;
}

.grid-item-3 {
    grid-area: col3;
}


